
<!-- 
  This program and the accompanying materials are
  made available under the terms of the Eclipse Public License v2.0 which accompanies
  this distribution, and is available at https://www.eclipse.org/legal/epl-v20.html
  
  SPDX-License-Identifier: EPL-2.0
  
  Copyright Contributors to the Zowe Project.
-->

<div>
  <div class="inline-button">
    <input [(ngModel)]="input_box" class="bx--text-input" (change)="updateGrid()">
  </div>
  <div class="container variable-height-child" *ngIf="showGrid">
    <zlux-grid 
    [columns]="columnMetaData | zluxTableMetadataToColumns"
    [rows]="rows"
    [paginator]="true"
    [scrollableHorizontal]="true"
    #grid></zlux-grid>
  </div>
</div>

<!-- 
  This program and the accompanying materials are
  made available under the terms of the Eclipse Public License v2.0 which accompanies
  this distribution, and is available at https://www.eclipse.org/legal/epl-v20.html
  
  SPDX-License-Identifier: EPL-2.0
  
  Copyright Contributors to the Zowe Project.
-->
